<!DOCTYPE html>
<html lang="he">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      body {
        display: flex;
        justify-content: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: right;
      }

      #main-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 70%;
      }

      .detail-container {
        display: flex;
        flex-direction: column;
      }

      label {
        color: brown;
        font-size: large;
        margin-bottom: 0.2rem;
      }

      form {
        width: 100%;
      }

      input {
        font-size: x-large;
        padding: 1rem;
      }

      .error {
        color: red;
        font-size: larger;
      }

      .success {
        color: green;
        font-size: larger;
      }

      button {
        font-size: x-large;
        padding: 1rem;
        background-color: rgb(228, 193, 169);
        border-radius: 1rem;
      }
    </style>
  </head>
  <body>
    <div id="main-container">
      <h1>איפוס סיסמה</h1>
      <% if(error) { %>
      <p class="error"><%= error %></p>
      <% } %> <% if(success) { %>
      <p class="success"><%= success %></p>
      <% } else { %>
      <form method="post" action="/auth/reset-password/<%= token %>">
        <input type="hidden" name="token" value="<%= token %>" />
        <div class="detail-container">
          <label for="password">סיסמה חדשה</label>
          <input required type="password" id="password" name="password" />
        </div>
        <br />
        <div class="detail-container">
          <label for="confirmPassword">אישור סיסמה</label>
          <input required type="password" id="confirmPassword" name="confirmPassword" />
        </div>
        <br />
        <button type="submit">איפוס סיסמה</button>
      </form>
      <% } %>
    </div>
  </body>
</html>
